{% extends "base.html" %}

{% block content %}
<div class="card" style="max-width:420px; margin:40px auto;">
    <h2 class="section-title">Anmeldung</h2>

    <form method="POST">
        <label>Firma</label>
        <input type="text" name="company" required>

        <label>Name</label>
        <input type="text" name="name" required>

        <label>PIN</label>
        <input type="password" name="pin" required>

        <br><br>
        <button type="submit">Login</button>
    </form>

    <p style="margin-top:16px;">
        Noch keine Firma?
        <a href="/register">Jetzt registrieren</a>
    </p>
</div>
{% endblock %}