{% extends "base.html" %}
{% block content %}

<h2>Login</h2>

<form method="POST" style="max-width:420px;">
  <div class="card">
    <label>Name</label>
    <input name="name" placeholder="z.B. Suad" required>

    <div style="margin-top:12px;">
      <label>PIN</label>
      <input name="pin" type="password" inputmode="numeric" placeholder="****" required>
      <small>PIN ist geheim.</small>
    </div>

    <div style="margin-top:14px;">
      <button class="btn btn-primary" type="submit">Anmelden</button>
    </div>
  </div>
</form>

{% endblock %}